Package: wallpaper
Version: 0.4-2-250116
Section: base
Priority: optional
Architecture: amd64
Depends: php-cli (>= 8.3), curl, php8.3-curl, imagemagick, fortune
Maintainer: Damir Zelenika <damir.zelenika@gmail.com>
Description: GNOME wallpaper changer
 When you need some sunshine, just look at your desktop
